* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--=======================================*/
/* Comienzo del Header */
/*--=======================================*/

header {
	z-index: 666;
}

.spacing__main {
	margin-top: 111px;
}

.navbar {
	background-color: #f5f5f5;
}

#demo {
	background-color: #000000;
	border-style: none;
	color: #f5f5f5;
}

#demo:hover {
	background-color: #4010c5;
	border-style: none;
}

#login {
	background-color: #4010c5;
	border-style: none;
}

#login:hover {
	background-color: #000000;
	border-style: none;
}

.numero {
	font-weight: bold;
}

.dropdown-item:hover {
	background-color: #4010c5;
	color: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

/*--=======================================*/
/* Final del Header */
/*--=======================================*/

/*--=======================================*/
/* Comienzo del Main - Index */
/*--=======================================*/

.jumbotron h1 {
	font-size: 2.75rem;
}

.jumbotron p {
	font-size: 1.2rem;
	color: #555555;
}

.container__elementos {
	margin-top: 14px;
	margin-bottom: 73px;
}

/*--=======================================*/
/* Final del Main - Index */
/*--=======================================*/

/*--=======================================*/
/* Comienzo del Main - ClouDoc */
/*--=======================================*/

.card__sizing {
	padding: 10px;
	align-items: center;
}

.card__icon {
	font-size: 3.20rem;
	margin-bottom: 20px;
	color: #4010c5;
}

.card-cloudoc {
	margin-bottom: 31px;
}

.spacing__card {
	margin-top: 30px;
}

.mtop {
	margin-top: 27px;
}

/*--=======================================*/
/* Final del Main - ClouDoc */
/*--=======================================*/

/*--=======================================*/
/* Comienzo del Main - Contacto */
/*--=======================================*/

.container__sp100 {
	margin-top: 100px;
}

.col-md-6 h4 {
	margin-bottom: 30px;
}

.link_bold {
	text-decoration: none;
	font-weight: 500;
	color: #4010c5;
}

.link_bold:hover {
	text-decoration: none;
	font-weight: 500;
	color: #000000;
}

.titulos__lista dt {
	font-weight: 500;
}


/*--=======================================*/
/* Final del Main - Contacto */
/*--=======================================*/


/*--=======================================*/
/* Comienzo del Main - Soluciones */
/*--=======================================*/

.container__width {
	width: 610px;
}

.container__width h6 {
	font-size: 0.87rem;
}

.container__width p {
	font-size: 1.25rem;
}

.color__container1 {
	background-color: #4010c5;
}

.div__aligncenter {
	text-align: center;
}

.h2titulos__center {
	text-align: center;
	font-size: 2.75rem;
}

.h2titulos_left {
	text-align: left;
	font-size: 2.75rem;
}

.parrafos_grey18 {
	font-size: 1.12rem;
	color: #555555;
}

.parrafos__white18 {
	font-size: 1.12rem;
	color: #ffffff;
}

.parrafos_grey18mini {
	font-size: 0.87rem;
	color: #555555;
}

.links__arrow {
	font-size: 1.12rem;
	color: #4010c5;
}

.links__arrow:hover {
	font-size: 1.12rem;
	color: #000000;
}

.img_soluciones {
	min-height: 250px;
}

.h2__infos {
	font-size: 2.75rem;
}

.div1 {
	max-width: 350px;
}

.container__stats {
	background-color: #4010c5;
	color: #ffffff;
}

.h2__stats {
	font-size: 1.5rem;
}

/*--=======================================*/
/* Final del Main - Soluciones */
/*--=======================================*/

/*--=======================================*/
/* Comienzo de Servicios */
/*--=======================================*/

#card__images {
	height: 100px;
	margin-left: 40%;
}

.cont {
	text-align: center;
}

.bordercard {
	border-color: #4010c5;
}

.pillcolor {
	background-color: #4010c5;
}

/*--=======================================*/
/* Final de Servicios */
/*--=======================================*/

/*--=======================================*/
/* Comienzo de Equipo */
/*--=======================================*/

.h5color {
	color: #4010c5;
}

.text {
	color: #4010c5;
}

.icon__grey {
	font-size: 1.12rem;
	color: #555555;
}

.icon__grey:hover {
	font-size: 1.12rem;
	color: #4010c5;
}

/*--=======================================*/
/* Final de Equipo */
/*--=======================================*/

/*--=======================================*/
/* Comienzo del Footer */
/*--=======================================*/

#footer {
	margin-top: 50px;
}

.section__footer {
	padding: 1px;
	background-color: #4010c5;
	color: #f5f5f5;
}

.btnfooter {
	font-size: 1.56rem;
}

.btnfooter:hover {
	color: #000000;
}

.copyright {
	color: #f5f5f5;
}

/*--=======================================*/
/* Final del Footer */
/*--=======================================*/


/*--=======================================*/
/* MEDIA QUERYS */
/*--=======================================*/

@media screen and (max-width: 576px) {
	.h2titulos_left {
		font-size: 1.5rem;
	}

	#font {
		font-size: 1rem;
	}

	.h2titulos__center {
		font-size: 1.5rem;
	}

	.parrafos_grey18 {
		font-size: 1rem;
	}

	.container__elementos {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.imgmain {
		margin-top: 30px;
	}

	.h2__infos {
		font-size: 1.5rem;
	}

	#parrafos__white16 {
		font-size: 1rem;
	}

	.container__width h6 {
		font-size: 0.80rem;
	}
}