.cloudocmain {

    .sectionclou {
        .divcolor {
            background-color: $morado;
            height: 470px;

            .divsize1 {
                text-align: center;

                h2 {
                    font-size: $titleh2;
                }

                p {
                    font-size: $parrafos;
                }
            }

            .btnsection {
                #demo {
                    @include demo;

                    &:hover {
                        background-color: $grisclaro;
                        color: $morado;
                        border-style: none;
                    }
                }
            }

            .imagenclou {
                min-height: 250px;
            }
        }
    }

    .cont__titulo {
        @include titleh2;

        h2 {
            font-size: $titleh2;
        }

        p {
            font-size: $parrafos;
            color: $grisobscuro
        }

        .cont {
            margin-top: 27px;

            .spacing__card {
                margin-top: 30px;

                .card__sizing {
                    padding: 10px;
                    align-items: center;
                }
            }
        }
    }

    .card__icon {
        @include iconpages;
    }

    .card-cloudoc {
        margin-bottom: 40px;
        margin-top: 12px;
    }

    .p__color {
        p {
            color: $grisobscuro;
        }
    }
}