.contactmain {
    .card__info {
        @include titleh2;

        h2 {
            font-size: $titleh2;
        }

        p {
            font-size: $parrafos;
            color: $grisobscuro
        }
    }

    .link_bold {
        text-decoration: none;
        color: $morado;

        &:hover {
            color: $negro;
        }
    }

    #login {
        @include login;

        &:hover {
            background-color: $negro;
        }
    }

    .bg-badge {
        background-color: $morado;
        color: $grisclaro
    }
}