.equipomain {
    .cont__titulo {
        @include titleh2;

        h2 {
            font-size: $titleh2;
        }

        p {
            font-size: $parrafos;
            color: $grisobscuro;
        }
    }

    .cont1 {
        .cont1__color {
            background-color: $morado;
        }
        .contbtn {
            color: $morado;
        }        
    }

    .cont2 {
        h5 {
            color: $morado;
        }

        .icons {
            li {
                a {
                    font-size: $parrafos;
                    color: $grisobscuro;

                    &:hover {
                        color: $morado;
                    }
                }
            }
        }
    }
}