.main {
    margin-top: 148px;
    margin-bottom: 100px;

    .spacing__main {
        

        .jumbotron {
            h2 {
                font-size: $titleh2;
            }

            p {
                font-size: $parrafos;
                color: $grisobscuro
            }

            #demo {
                @include demo;

                &:hover {
                    background-color: $morado;
                }
            }

            #login {
                @include login;

                &:hover {
                    background-color: $negro;
                }
            }
        }
    }
}