@media screen and (max-width: 576px) {

    /*===== Inicio / Index =====*/
    .spacing__main {
        .cont1__main {
            span {
                font-size: 2.2rem;
            }

            .jumbotron {
                p {
                    font-size: $parrafosmobile;
                }
            }
        }
    }

    /*===== ClouDoc =====*/

    .cloudocmain {

        .sectionclou {

            .divcolor {
                background-color: $morado;
                height: 420px;

                .divsize1 {
                    h2 {
                        font-size: 1.4rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .cont__titulo {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
            }
        }
    }

    /*===== Contacto =====*/

    .contactmain {
        .card__info {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
            }
        }
    }

    /*===== Soluciones =====*/

    .solucionesmain {
        .cont__titulo {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
            }
        }

        .cont1 {
            .cont1__info {
                h6 {
                    font-size: 0.8rem;
                }

                h2 {
                    font-size: $titleh2mobile;
                }
            }
        }

        .cont2 {
            .cont2__titulo {
                h2 {
                    font-size: $titleh2mobile;
                }

                p {
                    font-size: $parrafosmobile;
                    color: $grisobscuro;
                }

                .links__arrow {
                    font-size: 0.938rem;
                }
            }
        }

        .cont3 {
            .cont__info {
                h2 {
                    font-size: $titleh2mobile;
                }

                p {
                    font-size: $parrafosmobile;
                    color: $grisobscuro;
                }

                .links__arrow {
                    font-size: 0.938rem;
                }
            }
        }

        .cont4 {
            .cont4info {
                h2 {
                    font-size: $titleh2mobile;
                }

                p {
                    font-size: $parrafosmobile;
                }
            }
        }

        .cont5 {
            .cont5info {
                .cont5div {
                    h2 {
                        font-size: $titleh2mobile;
                    }

                    p {
                        font-size: $parrafosmobile;
                        color: $grisobscuro;
                    }

                    .links__arrow {
                        font-size: 0.938rem;
                    }
                }
            }
        }

        .cont6 {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
                color: $grisobscuro;
            }
        }

        .cont7 {
            .stats__info {
                h2 {
                    font-size: $titleh2infomobile;
                }

                p {
                    font-size: 0.88rem;
                }
            }
        }
    }

    /*===== Servicios =====*/

    .serviciosmain {
        .cont__titulo {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
                color: $grisobscuro;
            }
        }

        .cont1 {
            .card-space {
                p {
                    font-size: $parrafosmobile;
                    color: $grisobscuro;
                }
            }
        }

        .cont2 {
            .cont2__titulo {
                h2 {
                    font-size: $titleh2mobile;
                }

                p {
                    font-size: $parrafosmobile;
                    color: $grisobscuro;
                }
            }
        }
    }

    /*===== Equipo =====*/

    .equipomain {
        .cont__titulo {
            h2 {
                font-size: $titleh2mobile;
            }

            p {
                font-size: $parrafosmobile;
                color: $grisobscuro;
            }
        }
    }

    .cont1 {
        .cont1__color {
            h2 {
                font-size: $titleh2mobile;
            }
        }
    }
}