.serviciosmain {
    .cont__titulo {
        @include titleh2;

        h2 {
            font-size: $titleh2;
        }

        p {
            font-size: $parrafos;
            color: $grisobscuro;
        }
    }

    .cont1 {
        .cards {
            i {
                @include iconpages;
            }

            p {
                color: $grisobscuro;
            }
        }
    }

    .cont2 {
        .cont2__titulo {
            text-align: center;

            h2 {
                font-size: $titleh2;
            }

            p {
                font-size: $parrafos;
                color: $grisobscuro;
            }
        }
    }

    .card1 {
        #login {
            @include login;

            &:hover {
                background-color: $negro;
            }
        }
    }

    .card2 {
        .bordercard {
            border-color: $morado;

            .pillcolor {
                background-color: $morado;
            }

            #login {
                @include login;

                &:hover {
                    background-color: $negro;
                }
            }
        }
    }

    .card3 {
        #login {
            @include login;

            &:hover {
                background-color: $negro;
            }
        }
    }

    .cont3 {
        .cont3__info {
            background-color: $morado;
        }

        .contbtn {
            button {
                @include demo;

                &:hover {
                    background-color: $grisclaro;
                    color: $morado;
                }
            }
        }

    }
}