* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "vars";
@import "hover";
@import "header";
@import "inicio";
@import "cloudoc";
@import "contacto";
@import "soluciones";
@import "servicios";
@import "equipo";
@import "footer";
@import "queries";